name: Continuous Integration Pipeline

on:
    push:
    workflow_dispatch:
        inputs:
            dev-release:
                description: 'Generate a dev release build'
                required: false
                default: false
                type: boolean

permissions:
    contents: read

jobs:
    release_type:
        name: Determine Release Type
        runs-on: ubuntu-latest
        outputs:
            release_type: ${{ steps.set-release-type.outputs.release_type}}
        steps:
            - name: Set Release Type to Main
              id: set-release-type
              shell: bash
              run: |
                  if [["${GITHUB_REF_NAME}" == "main"]]; then
                    echo "release_type=stable" >> $GITHUB_OUTPUT
                  elif [[ "${GITHUB_REF_NAME}" == "next" ]]; then
                    echo "release_type=next" >> $GITHUB_OUTPUT
                  elif [[ "${{ github.event.inputs.dev-release }}" == "true" ]]; then
                    echo "release_type=dev" >> $GITHUB_OUTPUT
                  else
                    echo "release_type=none" >> $GITHUB_OUTPUT
                  fi
    test:
        name: Run Unit and Integration Tests
        uses: ./.github/workflows/test.yaml
    build-and-package:
        name: Build and Package
        needs: test
        uses: ./.github/workflows/build-and-package.yaml
    release:
        name: Create Release
        needs: [build-and-package, test, release_type]
        if: success() && needs.release_type.outputs.release_type != 'none'
        uses: ./.github/workflows/release.yaml
        with:
            artifact_id: ${{ needs.build-and-package.outputs.artifact-id }}
            artifact_digest: ${{ needs.build-and-package.outputs.artifact-digest }}
