name: Deploy to GitHub Pages

on:
    push:
        tags:
            - 'v*'

permissions:
    contents: read
    pages: write
    id-token: write

concurrency:
    group: pages
    cancel-in-progress: false

jobs:
    build:
        name: Build Site
        runs-on: ubuntu-latest
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
              with:
                  disable-sudo: true
                  egress-policy: block
                  allowed-endpoints: >
                      api.github.com:443
                      github.com:443
                      mise.jdx.dev:443
                      objects.githubusercontent.com:443
                      registry.npmjs.org:443

            - name: Checkout repository
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

            - name: Install mise
              uses: jdx/mise-action@f8dfbcc150159126838e44b882bf34bd98fd90f3 # v2.1.0
              with:
                  install_args: --yes

            - name: Install dependencies
              run: mise run install

            - name: Sync SvelteKit
              run: mise run sync

            - name: Build static site
              run: mise run build

            - name: Upload artifact
              uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # v3.0.1
              with:
                  path: ./build

    deploy:
        name: Deploy to GitHub Pages
        needs: build
        runs-on: ubuntu-latest
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
              with:
                  egress-policy: audit

            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
