name: Run Unit and Integration Tests

on:
    pull_request:
        branches:
            - main
            - next
    push:
    workflow_dispatch:
    workflow_call:

permissions:
    contents: read

jobs:
    test:
        name: Test and Check
        runs-on: ubuntu-latest
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
              with:
                  disable-sudo: false
                  egress-policy: block
                  allowed-endpoints: >
                      api.github.com:443
                      github.com:443
                      mise.jdx.dev:443
                      objects.githubusercontent.com:443
                      registry.npmjs.org:443
                      playwright.azureedge.net:443
                      archive.ubuntu.com:80
                      azure.archive.ubuntu.com:80
                      security.ubuntu.com:80
                      packages.microsoft.com:443

            - name: Checkout repository
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

            - name: Install mise
              uses: jdx/mise-action@f8dfbcc150159126838e44b882bf34bd98fd90f3 # v2.1.0
              with:
                  install_args: --yes

            - name: Install dependencies
              run: mise run install

            - name: Sync SvelteKit
              run: mise run sync

            - name: Run linting
              run: mise run lint

            - name: Run type checking
              run: mise run check

            - name: Install Playwright browsers
              run: pnpm exec playwright install --with-deps

            - name: Run unit tests
              run: mise run test-unit -- --run

            - name: Run E2E tests
              run: mise run test-e2e
